h1 {
    font-weight: bold;
}

#cursiva {
    font-style: italic;
}

.details-film {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}