.ModalContent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.137);
    border-radius: 40px;
}

.Mheader{
    padding: 10px;
}

.Mtitle {
    margin: 0;
}

.Mbody {
    padding: 10px;
}