.pages {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 70px;
    font-size: 25px;
}

button {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

pre {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.lastPageNumber {
    display: flex;
    flex-direction: row;
}

.firstPageNumber {
    display: flex;
    flex-direction: row;
}

.hear {
    font-size: large;
    border-radius: 40%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.size-first {
    font-size: 25px;
}